.category p {
    color: black;
}

.category-title {
    margin-left: 100px;
    margin-bottom: 30px;
}

.category-item {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;

    border-radius: 20px;
    height: 258px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 30px;

    transition: all .3s ease;
}

.category-item:hover {
    background-color: #D43D65;
    transition: all .6s ease;
}

.category-item:hover .category-item-title p {
    color: white;
}

.category-item:hover .category-item-bg-circle {
    display: none;
    transition: all 0.5s ease;

}


.category-item-img {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.category-item-bg-circle {
    background-color: #5897DB;
    width: 95px;
    height: 95px;
    border-radius: 50%;

    position: absolute;
    left: 80px;
    z-index: -1;
    fill: #ff0000;
}