* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: rgb(248, 248, 248)
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(248, 248, 248, 0.7)
}

a:hover {
    text-decoration: none;
    color: rgb(248, 248, 248);
}

header {
    /* background-color: #5897DB; */
    /* position: absolute; */
    /* z-index: 10; */
}

.blue-circle {
    position: absolute;

    background-color: #5897DB;
    width: 1920px;
    height: 1920px;
    z-index: -2;
    border-radius: 50%;
    top: -80%;
    left: -10%;
}

.white-circle {
    position: absolute;
    z-index: -1;
    background-color: white;
    width: 1136px;
    height: 1136px;
    right: -20%;
    top: -15%;
    border-radius: 50%;
}

.white-line {
    position: absolute;
    background-color: #fff;
    width: 60%;
    height: 4px;
    left: 4%;

}

.top-buttons {
    display: flex;
    justify-content: space-between;


}

.top-buttons_region {
    display: flex;
}

.top-buttons-auth {
    display: flex;
}

.signIp {}

.signUp {}

.header-info {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    height: 700px;
    /* border: solid 1px red; */
    padding-top: 20px;
}

.header-region {
    margin-bottom: 50px;
    margin-left: 20%;
}

.header-logo {
    margin-bottom: 50px;
    margin-left: 20%;

}

.header-description {
    margin-bottom: 220px;
    margin-left: 20%;
}

.header-description p {
    font-size: 32px;
    line-height: 43px;
    margin: 0;
    padding: 0;
}

.header-list {
    display: flex;
    margin: 40px 0 45px 0px;
}

.header-list-item {
    margin-left: 25px;
}

.header-list-link {
    font-size: 18px;
}


.header-img {
    /* height: 700px; */
    /* border: solid 1px grey; */

}

.header-img img {
    width: 100%;
    margin: 0 auto;
    border-radius: 50%;
}