@media (min-width: 1300px) and (max-width: 1366px) {
    .blue-circle {
        position: absolute;
    
        background-color: red;
        width: 1125px;
        height: 1125px;
        z-index: -2;
        border-radius: 50%;
        top: -60%;
        left: -10%;
    }
    .white-circle {
        position: absolute;
        z-index: -1;
        background-color: white;
        width: 700px;
        height: 700px;
        right: -5%;
        top: -15%;
        border-radius: 50%;
    }
    .header-description p {
        font-size: 16px;
    }
    .header-description {
        margin-bottom: 100px;
    }
}