* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: rgb(248, 248, 248)
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgba(248, 248, 248, 0.7)
}
a:hover{
    text-decoration: none;
    color: rgb(248, 248, 248);
}

.simple-line{
    width: 90%;
    height: 2px;
    background-color: #1F487E;
    margin: 0 auto;
}
.simple-line-red{
    position: absolute;
    bottom: 50px;
    width: 90%;
    height: 2px;
    background-color: #D43D65;
    margin: 0 auto;
}

body{
    background-image: url(/img/header-background.svg);
}

.subscribe-btn{
    background-color: #D43D65;
    width: 187px;
    height: 65px;
    color: white;
    border-radius: 20px;
    border: none;
}

.subscribe-input{
    width: 572px;
    height: 65px;
    color: #F8F8F8;
    border: none;
    border-radius: 20px;
}

.copyright{
    position: absolute;
    bottom: 0;
    left: 150px;
    color: rgba(248, 248, 248, 0.5)
}