p {
    margin: 0;
    padding: 0;
}


.subscribe {
    height: 300px;
    background-color: #5897DB;
}

.subscribe-header {
    margin: 0;
    padding: 0;
}

.subscribe-header p {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    padding-right: 40px;
}

.subscribe-description {
    margin: 0;
    padding: 0;
}

.subscribe-description p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.subscribe-input {
    width: 520px;
    height: 65px;
    border-radius: 10px;
    border: solid;
}

.subscribe-btn {
    margin-left: 10px;
}